// button
// {
//     font-size: 100px;
// }

/* SquareComponent styles */

button {
  width: 100%;
  height: 100%;
  font-size: 5em !important;
}

@media (max-width: 768px) {
  button {
    font-size: 3em !important;
  }
}

@media (max-width: 480px) {
  button {
    font-size: 2em !important;
  }
}